$primary-color: #2d3439;
$secondary-color: #42484d;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
}

/* MAP */
#map {
  height: 80vh;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: $secondary-color;
  color: #fff;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.3rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: $secondary-color;
}

.trening-popup .leaflet-popup-content-wrapper {
  border-right: 5px solid orange;
}
.takmicenje-popup .leaflet-popup-content-wrapper {
  border-right: 5px solid red;
}

.main {
  height: 20vh;
  background-color: $primary-color;
  color: aliceblue;
  overflow: hidden;

  div {
    float: left;
  }

  .icon {
    text-align: center;
    margin: 65px 15px;
  }

  .form {
    display: grid;
    margin: 25px -160px 25px 80px;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2.5rem;

    button {
      display: none;
    }

    .form__row {
      display: flex;
      align-items: center;

      label {
        flex: 0 0 20%;
        font-size: 1.2rem;
        font-weight: 600;
      }

      input,
      select {
        padding: 0.3rem 0.3rem;
        font-family: inherit;
        font-size: 1rem;
        border: none;
        border-radius: 3px;
        transition: all 0.2s;

        &:focus {
          outline: none;
        }
      }
    }

    .weather {
      input[type='checkbox'] {
        margin-top: -30px;
      }
      span {
        padding: 3px;

        img {
          width: 50px;
        }
      }
    }
  }

  .logo {
    margin: 10px;
    text-align: center;
  }

  .copyright {
    float: right;
    margin: 60px 15px;
    text-align: center;

    a {
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        color: #fff;
        transition: color 1s;
      }
    }
  }

  .results {
    margin-top: 40px;
    width: 400px;
    height: 120px;
    padding: 5px;
    background-color: $secondary-color;
    border-right: solid 3px red;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;

    ul {
      list-style-type: none;
    }

    .result__details {
      padding: 5px;
      font-size: 1.2rem;
    }
  }

  .results_trening {
    border-right: solid 3px orange;
  }

  .results_takmicenje {
    border-right: solid 3px red;
  }
}

.main-extend {
  height: 80vh;

  // overflow-y: scroll;
  .res {
    height: 55%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .results {
    ul {
      list-style-type: none;
    }
  }
}
